# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
obj
bin
msvc
build-ios/clucene.build
build-ios/bin
build-ios/CMakeFiles
build-ios/CMakeScripts
build-ios/CTestTestfile.cmake
build-ios/cmake_install.cmake
test-pad
all-test/build
*.dat
*.o
*.d
*.dia
*.a
*.dep
*.sh
*.cmake
~$*
