<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RUN_TESTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cl_test-ascii.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>cl_test-mmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>cl_test-namespace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>cl_test-pedantic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>cl_test-platform-charfuncs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>cl_test-refcnt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>cl_test-singlethreading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>cl_test-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>cl_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>clucene-core-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>clucene-core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>clucene-shared-static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>clucene-shared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test-all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>test-ascii.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>test-mmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>test-namespace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>test-pedantic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>test-platform-charfuncs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>test-refcnt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>test-singlethreading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>008918B18D954EC9B95BE921</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1605A90EE6F44EF0AD3CA7DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17F8441253E6428282936DA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22B0BC6DE34C4D24B80E37FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E55BD5D0CD244E385ED9360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F370F134CA240D997A39B98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39E9359292D749C186A41A83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39F3970F743944BD8CD748B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C649EF259794E2DACB85BE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FC3353A19614566AC2C9FB6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57B1B20A902047058CF54BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBC40ED36134A15A27AFB8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69015ACB1CA9418FA54BE4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D96945603EF408ABD43FA24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8603CEAB401340469FC78873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86335CD6C9EE44F3B6CD449B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91BEE3AA44D741C3B7B51D96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6A5915C15F14A39B5E0F866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9C311BD66074A92B823384E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B01B1832464B4E398D0715D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B22037BDD8A84D5FB971AA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B68159E7D13C451E960EEC19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC8800F0593644F1885FDF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2DFEEFAB5F14A628111BB0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3B37630F4F64C41AEF0AADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F316960F74A443CC9375F10D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
